h2 {
  margin: 0 0 20px 10px;
}

.btn-date {
  background-color: #7fcce6;
  font-size: 12px;
  margin: 0 4px 0 4px;
  padding: 5px 10px;
  border-radius: 5%;
  border: solid 1px black;
}
.btn-date:hover {
  background-color: #18b4e7;
}

.btn-date:active {
  background-color: #0392c2;
}
.trendBox {
  .hashtag {
    color: rgb(15, 20, 25);
    margin: 2px 0 4px 0;
  }

  .popular,
  .notweets {
    color: rgb(83, 100, 113);
    margin: 0;
  }
  padding: 10px 20px 10px 10px;
  cursor: pointer;
}

.trendBox:hover {
  background-color: rgb(203, 209, 209, 0.4);
  transform: scale(1.02);
}

.trendsBoard {
  background-color: rgb(232, 235, 235, 0.7);

  width: 300px;
  padding: 10px 0 10px 0;
  border-radius: 15px;
}

.dateTrend {
  display: inline-block;
  margin: 0;
  padding: 2px;
  background-color: rgb(0, 177, 177);
  border-radius: 3px;
  border: solid black 1px;
  font-size: 12px;
  font-weight: 600;
}

.freshness {
  display: inline-block;
  margin: 0 0 0 3px;
  padding: 2px;
  background-color: rgb(0, 177, 177);
  border-radius: 3px;
  border: solid black 1px;
  font-size: 12px;
  font-weight: 600;
}

.freshnessNew {
  background-color: rgb(24, 226, 34);
  color: rgb(0, 0, 0);
}
.freshnessOld {
  background-color: rgb(240, 241, 136);
  color: black;
}
.boardDate {
  font-size: 22px;
  margin-left: 8px;
  font-weight: 700;
  color: rgb(0, 54, 54);
}
