<div class="grid-container">
  <app-trends-board class="trends"></app-trends-board>
  <app-tweet-board></app-tweet-board>
  <app-articles-board class="articles"></app-articles-board>
</div>
<div class="dateChart">
  <app-date-chart></app-date-chart>
</div>
<div class="search"><app-search></app-search></div>

<div class="bestResults">
  <app-best-results></app-best-results>
</div>

<div class="statsSource"><app-stats></app-stats></div>

<div class="counts"><app-counts-db></app-counts-db></div>

<app-footer></app-footer>
